{{define "content"}}

    <h1>Hello, {{.CurrentUser}}</h1>



    <table>
        {{range .Posts}}
            <tr valign="top">
                <td><img src="{{.User.Avatar}}" alt="" width="36" class="user_popup"></td>
                <td><span class="user_popup"><a href="/u/{{.User.Username}}">{{.User.Username}}</a></span> said:<br>{{.Body}}</td>
            </tr>
        {{end}}
    </table>

    
<nav aria-label="...">
    <ul class="pagination justify-content-center">
    {{ if gt .PrevPage 0 }}
        <li class="page-item">
            <a href="/?page={{.PrevPage}}">
                <span class="page-link" aria-hidden="true">&larr; Previous Posts</span>
            </a>
        </li>
    {{ else }}
        <li class="page-item disabled">
            <a href="#">
                <span class="page-link" aria-hidden="true">&larr; Previous Posts</span>
            </a>
        </li> 
    {{ end }}

    {{ if gt .NextPage 0 }}
        <li class="page-item">
            <a href="/?page={{.NextPage}}">
                <span class="page-link" aria-hidden="true">Latest Posts &rarr;</span>
            </a>
        </li>
    {{ else }}
        <li class="page-item disabled">
            <a href="#">
                <span class="page-link" aria-hidden="true">Latest Posts &rarr;</span>
            </a>
        </li> 
    {{ end }}

    </ul>
</nav>

{{end}}