{{define "content"}}
    <table>
        <tr valign="top">
            <td><img src="{{.ProfileUser.Avatar}}" width="64"></td>
            <td>
                <h1>User: {{.ProfileUser.Username}}</h1>
                {{if .ProfileUser.AboutMe}}
                    <p>{{ .ProfileUser.AboutMe }}</p>
                {{end}}
                
                {{if .ProfileUser.LastSeen}}
                    <p>Last seen on: {{ .ProfileUser.LastSeen }}</p>
                {{end}}


                <p>{{.FollowersCount}} followers, {{.FollowingCount}} following.</p>


                {{if .Editable}}
                    <p><a href="/profile_edit">Edit your profile</a></p>
                {{end}}

            </td>
        </tr>
    </table>

    <hr/>

    
<table>
    {{range .Posts}}
    <tr valign="top">
        <td><img src="{{.User.Avatar}}" alt="" width="36"></td>
        <td><a href="/u/{{.User.Username}}">{{.User.Username}}</a> says:<br>{{.Body}}</td>
    </tr>
    {{end}}
</table>

    
{{end}}